// Favorite Color
$White:#FFFFFF;
$Black:#212121;
$Orange:#EB4724;
$Gray:#D3D8E5;
$BoxShadow:rgba(164, 164, 164, 0.46);
$Gry:#C9C9C9;
$Linear:linear-gradient(49deg, #53B856 20.76%, #4EAC5A 22.99%, #3E8566 32.36%, #326670 40.83%, #295076 49.74%, #24437B 57.77%, #223E7C 65.35%);
$Ylo :#FFC937;
$Mov:#98268C;
$Dark-blue:#233D7C;
$Green:#39B44A;