@font-face {
    font-family: "Bahij_TheSansArabic";
    src: url("@/assets/fonts/Bahij_TheSansArabic-SemiLight.ttf") format("truetype");
}
@font-face {
    font-family: "Bahij_TheSansArabic_Bold";
    src: url("@/assets/fonts/Bahij_TheSansArabic-Bold.ttf") format("truetype");
}